html,
body {
  padding: 0;
  margin: 0;
}
.tool {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.tool .padding {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 2px 2px 5px #ccc;
  align-items: center;
  padding: 10px;
  text-align: right;
}
